<app-b-nav></app-b-nav>


<div class="allContainer">


  <div class="productContainer row">

    <!-- <div class="col-sm-12 col-md-12 col-lg-5">
      <img class="productImg" [src]="singleProduct.image">
    </div> -->

    <div class="col-sm-12 col-md-12 col-lg-5 ">
      <div id="carouselExampleControls" class="carousel carousel-dark slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img [src]="singleProduct.image" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img [src]="singleProduct.image2" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img [src]="singleProduct.image3" class="d-block w-100" alt="...">
          </div>

        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>


      <div class="productContent col-sm-12 col-md-12 col-lg-7">
        <h4 class="title">{{singleProduct.title}}</h4>
        <div class="description">{{singleProduct.description}}</div>
        <div class="price">{{singleProduct.price | currency}}</div>
        <!-- <div class="stock">{{singleProduct.stock}} Available</div> -->
        <div class="btn-row">
          <button class="add-btn col-8">Add To Cart</button>
          <button class="heart-btn col-3"><i class="fa-regular fa-heart"></i></button>
          <!-- <i class="fa-solid fa-heart"></i> -->
        </div>
      </div>

  </div>


  <div class="footerClass">
  </div>
</div>
