body{
  font-family: 'Roboto', sans-serif;
}

.pageContainer{
  height: 100vh;
  background-color: white;
  display: flex;
  justify-content: center;
}

.topLinks{
  display: flex;
  justify-content: space-between;
  padding-bottom: 50px;
  font-size: .8em;
  color: #7c828c;
  font-weight: 500;

  a{
    text-decoration: none;
    color: #7c828c;
  }
}

.editContainer{
  max-width: 70%;
  padding: 50px;
  background-color: #f1f1f1;
  min-width: 800px;

  .heading{
    text-align: center;
  }

  h1{
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 1.3em;
    text-align: center;
  }

  .title{
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 1rem;
  }



  .buttonClass{
    padding: 12px 0px 12px 0px;
    color:white;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    text-decoration: none;
    font-size: 0.8em;
    border-radius:5px;
    font-weight: 500;
    background-color: black;
    border: none;

    min-width: 150px;
    margin-left: 20px;
  }
}



.footerClass{
  min-height: 200px;
  background-color: black;
  margin-top: 50px;
}

.stock{
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
}
