
<nav-component id="home"></nav-component>

<div class="wrapper">

  <div class="vertLine"></div>
    <div class="homeContainer" >
      <section class="heroSection">
        <div class="heroContent">
          <!-- <p class="intro"><span>Hi! my name is...</span></p> -->
          <h1 class="name">Lisa Millerd</h1>
          <h2 class="title">Web Design & Development</h2>
          <div class="description">Hi! I'm a web design and marketing maestro, juggling pixels and strategies to create websites that not only look amazing but also conquer the digital realm. From eye-catching visuals to persuasive copy, I'm here to sprinkle some marketing magic on your online presence and make your brand shine.</div>
          <div class="skills">
            <!-- JavaScript | TypeScript | Angular | Node.js | jQuery | HTML | CSS | SCSS | mySQL | PHP | REST API | Strapi | DigitalOcean | GSAP | NativeScript | Wordpress -->
            <ul>
              <li>JavaScript |</li>
              <li>TypeScript |</li>
              <li>Angular |</li>
              <li>Node.js |</li>
              <li>jQuery |</li>
              <li>HTML |</li>
              <li>CSS |</li>
              <li>SCSS |</li>
              <li>mySQL |</li>
              <li>Wordpress |</li>
              <li>PHP |</li>
              <li>Adobe |</li>
              <li>Figma |</li>
            </ul>
          </div>
          <div class="buttonsRow">
            <button class="btn buttonClass" (click)="scrollProjectsButton()">Projects</button>
            <button class="btn buttonClass" (click)="scrollContactButton()">Contact</button>
          </div>
        </div>
        <!-- <div class="shape"></div> -->

      </section>
    </div>

    <div class="appContainer">
      <a class="anchor" id="about"></a>
      <div class="number" id="one"><i (click)="scrollHome()"class="fa-solid fa-caret-up arrows"></i>01.<i (click)="scrollProjects()" class="fa-solid fa-caret-down arrows"></i></div>
      <app-about></app-about>

      <a class="anchor" id="projects"></a>
      <div class="number" id="two"><i (click)="scrollAbout()"class="fa-solid fa-caret-up arrows"></i>02.<i (click)="scrollContact()" class="fa-solid fa-caret-down arrows"></i></div>
      <app-projects></app-projects>

      <a class="anchor" id="contact-2"></a>

      <a class="anchor" id="contact"></a>
      <div class="number" id="three"><i (click)="scrollProjects()"class="fa-solid fa-caret-up arrows"></i>03.<div (click)="scrollHome()" class="top">TOP</div></div>
      <app-contact></app-contact>
    </div>

</div>
